=begin
#Rippling Platform API

#Documentation for the Rippling Platform API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module RipplingRb
  class CustomObjectFieldsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new custom object field
    # Create a new custom object field
    # @param custom_object_api_name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateCustomObjectsCustomObjectApiNameFieldsRequest] :create_custom_objects_custom_object_api_name_fields_request 
    # @return [CustomObjectField]
    def create_custom_objects__custom_object_api_name_fields(custom_object_api_name, opts = {})
      data, _status_code, _headers = create_custom_objects__custom_object_api_name_fields_with_http_info(custom_object_api_name, opts)
      data
    end

    # Create a new custom object field
    # Create a new custom object field
    # @param custom_object_api_name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateCustomObjectsCustomObjectApiNameFieldsRequest] :create_custom_objects_custom_object_api_name_fields_request 
    # @return [Array<(CustomObjectField, Integer, Hash)>] CustomObjectField data, response status code and response headers
    def create_custom_objects__custom_object_api_name_fields_with_http_info(custom_object_api_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomObjectFieldsApi.create_custom_objects__custom_object_api_name_fields ...'
      end
      # verify the required parameter 'custom_object_api_name' is set
      if @api_client.config.client_side_validation && custom_object_api_name.nil?
        fail ArgumentError, "Missing the required parameter 'custom_object_api_name' when calling CustomObjectFieldsApi.create_custom_objects__custom_object_api_name_fields"
      end
      # resource path
      local_var_path = '/custom-objects/{custom_object_api_name}/fields/'.sub('{' + 'custom_object_api_name' + '}', CGI.escape(custom_object_api_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_custom_objects_custom_object_api_name_fields_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CustomObjectField'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"CustomObjectFieldsApi.create_custom_objects__custom_object_api_name_fields",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomObjectFieldsApi#create_custom_objects__custom_object_api_name_fields\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a custom object field
    # Delete a custom object field
    # @param custom_object_api_name [String] 
    # @param field_api_name [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_custom_objects__custom_object_api_name_fields(custom_object_api_name, field_api_name, opts = {})
      delete_custom_objects__custom_object_api_name_fields_with_http_info(custom_object_api_name, field_api_name, opts)
      nil
    end

    # Delete a custom object field
    # Delete a custom object field
    # @param custom_object_api_name [String] 
    # @param field_api_name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_custom_objects__custom_object_api_name_fields_with_http_info(custom_object_api_name, field_api_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomObjectFieldsApi.delete_custom_objects__custom_object_api_name_fields ...'
      end
      # verify the required parameter 'custom_object_api_name' is set
      if @api_client.config.client_side_validation && custom_object_api_name.nil?
        fail ArgumentError, "Missing the required parameter 'custom_object_api_name' when calling CustomObjectFieldsApi.delete_custom_objects__custom_object_api_name_fields"
      end
      # verify the required parameter 'field_api_name' is set
      if @api_client.config.client_side_validation && field_api_name.nil?
        fail ArgumentError, "Missing the required parameter 'field_api_name' when calling CustomObjectFieldsApi.delete_custom_objects__custom_object_api_name_fields"
      end
      # resource path
      local_var_path = '/custom-objects/{custom_object_api_name}/fields/{field_api_name}/'.sub('{' + 'custom_object_api_name' + '}', CGI.escape(custom_object_api_name.to_s)).sub('{' + 'field_api_name' + '}', CGI.escape(field_api_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"CustomObjectFieldsApi.delete_custom_objects__custom_object_api_name_fields",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomObjectFieldsApi#delete_custom_objects__custom_object_api_name_fields\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a specific custom object field
    # Retrieve a specific custom object field
    # @param custom_object_api_name [String] 
    # @param field_api_name [String] 
    # @param [Hash] opts the optional parameters
    # @return [CustomObjectField]
    def get_custom_objects__custom_object_api_name_fields(custom_object_api_name, field_api_name, opts = {})
      data, _status_code, _headers = get_custom_objects__custom_object_api_name_fields_with_http_info(custom_object_api_name, field_api_name, opts)
      data
    end

    # Retrieve a specific custom object field
    # Retrieve a specific custom object field
    # @param custom_object_api_name [String] 
    # @param field_api_name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomObjectField, Integer, Hash)>] CustomObjectField data, response status code and response headers
    def get_custom_objects__custom_object_api_name_fields_with_http_info(custom_object_api_name, field_api_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomObjectFieldsApi.get_custom_objects__custom_object_api_name_fields ...'
      end
      # verify the required parameter 'custom_object_api_name' is set
      if @api_client.config.client_side_validation && custom_object_api_name.nil?
        fail ArgumentError, "Missing the required parameter 'custom_object_api_name' when calling CustomObjectFieldsApi.get_custom_objects__custom_object_api_name_fields"
      end
      # verify the required parameter 'field_api_name' is set
      if @api_client.config.client_side_validation && field_api_name.nil?
        fail ArgumentError, "Missing the required parameter 'field_api_name' when calling CustomObjectFieldsApi.get_custom_objects__custom_object_api_name_fields"
      end
      # resource path
      local_var_path = '/custom-objects/{custom_object_api_name}/fields/{field_api_name}/'.sub('{' + 'custom_object_api_name' + '}', CGI.escape(custom_object_api_name.to_s)).sub('{' + 'field_api_name' + '}', CGI.escape(field_api_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomObjectField'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"CustomObjectFieldsApi.get_custom_objects__custom_object_api_name_fields",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomObjectFieldsApi#get_custom_objects__custom_object_api_name_fields\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List custom object fields
    # A List of custom object fields  - Requires: `API Tier 1`
    # @param custom_object_api_name [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListCustomObjectsCustomObjectApiNameFields200Response]
    def list_custom_objects__custom_object_api_name_fields(custom_object_api_name, opts = {})
      data, _status_code, _headers = list_custom_objects__custom_object_api_name_fields_with_http_info(custom_object_api_name, opts)
      data
    end

    # List custom object fields
    # A List of custom object fields  - Requires: &#x60;API Tier 1&#x60;
    # @param custom_object_api_name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListCustomObjectsCustomObjectApiNameFields200Response, Integer, Hash)>] ListCustomObjectsCustomObjectApiNameFields200Response data, response status code and response headers
    def list_custom_objects__custom_object_api_name_fields_with_http_info(custom_object_api_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomObjectFieldsApi.list_custom_objects__custom_object_api_name_fields ...'
      end
      # verify the required parameter 'custom_object_api_name' is set
      if @api_client.config.client_side_validation && custom_object_api_name.nil?
        fail ArgumentError, "Missing the required parameter 'custom_object_api_name' when calling CustomObjectFieldsApi.list_custom_objects__custom_object_api_name_fields"
      end
      # resource path
      local_var_path = '/custom-objects/{custom_object_api_name}/fields/'.sub('{' + 'custom_object_api_name' + '}', CGI.escape(custom_object_api_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCustomObjectsCustomObjectApiNameFields200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"CustomObjectFieldsApi.list_custom_objects__custom_object_api_name_fields",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomObjectFieldsApi#list_custom_objects__custom_object_api_name_fields\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a custom object field
    # Updated a specific custom object field
    # @param custom_object_api_name [String] 
    # @param field_api_name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateCustomObjectsCustomObjectApiNameFieldsRequest] :update_custom_objects_custom_object_api_name_fields_request 
    # @return [CustomObjectField]
    def update_custom_objects__custom_object_api_name_fields(custom_object_api_name, field_api_name, opts = {})
      data, _status_code, _headers = update_custom_objects__custom_object_api_name_fields_with_http_info(custom_object_api_name, field_api_name, opts)
      data
    end

    # Update a custom object field
    # Updated a specific custom object field
    # @param custom_object_api_name [String] 
    # @param field_api_name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateCustomObjectsCustomObjectApiNameFieldsRequest] :update_custom_objects_custom_object_api_name_fields_request 
    # @return [Array<(CustomObjectField, Integer, Hash)>] CustomObjectField data, response status code and response headers
    def update_custom_objects__custom_object_api_name_fields_with_http_info(custom_object_api_name, field_api_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomObjectFieldsApi.update_custom_objects__custom_object_api_name_fields ...'
      end
      # verify the required parameter 'custom_object_api_name' is set
      if @api_client.config.client_side_validation && custom_object_api_name.nil?
        fail ArgumentError, "Missing the required parameter 'custom_object_api_name' when calling CustomObjectFieldsApi.update_custom_objects__custom_object_api_name_fields"
      end
      # verify the required parameter 'field_api_name' is set
      if @api_client.config.client_side_validation && field_api_name.nil?
        fail ArgumentError, "Missing the required parameter 'field_api_name' when calling CustomObjectFieldsApi.update_custom_objects__custom_object_api_name_fields"
      end
      # resource path
      local_var_path = '/custom-objects/{custom_object_api_name}/fields/{field_api_name}/'.sub('{' + 'custom_object_api_name' + '}', CGI.escape(custom_object_api_name.to_s)).sub('{' + 'field_api_name' + '}', CGI.escape(field_api_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_custom_objects_custom_object_api_name_fields_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CustomObjectField'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"CustomObjectFieldsApi.update_custom_objects__custom_object_api_name_fields",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomObjectFieldsApi#update_custom_objects__custom_object_api_name_fields\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
