=begin
#Rippling Platform API

#Documentation for the Rippling Platform API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module RipplingRb
  class LeaveRequestsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new leave request
    # Create a new leave request
    # @param [Hash] opts the optional parameters
    # @option opts [LeaveRequestRequest] :leave_request_request 
    # @return [LeaveRequest]
    def create_leave_requests(opts = {})
      data, _status_code, _headers = create_leave_requests_with_http_info(opts)
      data
    end

    # Create a new leave request
    # Create a new leave request
    # @param [Hash] opts the optional parameters
    # @option opts [LeaveRequestRequest] :leave_request_request 
    # @return [Array<(LeaveRequest, Integer, Hash)>] LeaveRequest data, response status code and response headers
    def create_leave_requests_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeaveRequestsApi.create_leave_requests ...'
      end
      # resource path
      local_var_path = '/leave-requests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'leave_request_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'LeaveRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"LeaveRequestsApi.create_leave_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeaveRequestsApi#create_leave_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a specific leave request
    # Retrieve a specific leave request
    # @param id [String] ID of the resource to return
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [GetLeaveRequests200Response]
    def get_leave_requests(id, opts = {})
      data, _status_code, _headers = get_leave_requests_with_http_info(id, opts)
      data
    end

    # Retrieve a specific leave request
    # Retrieve a specific leave request
    # @param id [String] ID of the resource to return
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(GetLeaveRequests200Response, Integer, Hash)>] GetLeaveRequests200Response data, response status code and response headers
    def get_leave_requests_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeaveRequestsApi.get_leave_requests ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LeaveRequestsApi.get_leave_requests"
      end
      # resource path
      local_var_path = '/leave-requests/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLeaveRequests200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"LeaveRequestsApi.get_leave_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeaveRequestsApi#get_leave_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List leave requests
    # A List of leave requests  - Requires: `API Tier 2`  - Filterable fields: `worker_id`, `requester_id`, `reviewer_id`, `status`, `leave_policy_id`, `leave_type_id`, `start_date`, `end_date`  - Expandable fields: `worker`, `requester`, `leave_type`, `reviewer`  - Sortable fields: `id`, `created_at`, `updated_at`
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter 
    # @option opts [String] :expand 
    # @option opts [String] :order_by 
    # @return [ListLeaveRequests200Response]
    def list_leave_requests(opts = {})
      data, _status_code, _headers = list_leave_requests_with_http_info(opts)
      data
    end

    # List leave requests
    # A List of leave requests  - Requires: &#x60;API Tier 2&#x60;  - Filterable fields: &#x60;worker_id&#x60;, &#x60;requester_id&#x60;, &#x60;reviewer_id&#x60;, &#x60;status&#x60;, &#x60;leave_policy_id&#x60;, &#x60;leave_type_id&#x60;, &#x60;start_date&#x60;, &#x60;end_date&#x60;  - Expandable fields: &#x60;worker&#x60;, &#x60;requester&#x60;, &#x60;leave_type&#x60;, &#x60;reviewer&#x60;  - Sortable fields: &#x60;id&#x60;, &#x60;created_at&#x60;, &#x60;updated_at&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter 
    # @option opts [String] :expand 
    # @option opts [String] :order_by 
    # @return [Array<(ListLeaveRequests200Response, Integer, Hash)>] ListLeaveRequests200Response data, response status code and response headers
    def list_leave_requests_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeaveRequestsApi.list_leave_requests ...'
      end
      # resource path
      local_var_path = '/leave-requests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?
      query_params[:'order_by'] = opts[:'order_by'] if !opts[:'order_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListLeaveRequests200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"LeaveRequestsApi.list_leave_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeaveRequestsApi#list_leave_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a leave request
    # Updated a specific leave request
    # @param id [String] ID of the resource to patch
    # @param [Hash] opts the optional parameters
    # @option opts [LeaveRequestRequest] :leave_request_request 
    # @return [LeaveRequest]
    def update_leave_requests(id, opts = {})
      data, _status_code, _headers = update_leave_requests_with_http_info(id, opts)
      data
    end

    # Update a leave request
    # Updated a specific leave request
    # @param id [String] ID of the resource to patch
    # @param [Hash] opts the optional parameters
    # @option opts [LeaveRequestRequest] :leave_request_request 
    # @return [Array<(LeaveRequest, Integer, Hash)>] LeaveRequest data, response status code and response headers
    def update_leave_requests_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeaveRequestsApi.update_leave_requests ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LeaveRequestsApi.update_leave_requests"
      end
      # resource path
      local_var_path = '/leave-requests/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'leave_request_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'LeaveRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"LeaveRequestsApi.update_leave_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeaveRequestsApi#update_leave_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
