=begin
#Rippling Platform API

#Documentation for the Rippling Platform API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module RipplingRb
  class ShiftInputsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new shift input
    # Create a new shift input
    # @param [Hash] opts the optional parameters
    # @option opts [ShiftInputRequest] :shift_input_request 
    # @return [ShiftInput]
    def create_shift_inputs(opts = {})
      data, _status_code, _headers = create_shift_inputs_with_http_info(opts)
      data
    end

    # Create a new shift input
    # Create a new shift input
    # @param [Hash] opts the optional parameters
    # @option opts [ShiftInputRequest] :shift_input_request 
    # @return [Array<(ShiftInput, Integer, Hash)>] ShiftInput data, response status code and response headers
    def create_shift_inputs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShiftInputsApi.create_shift_inputs ...'
      end
      # resource path
      local_var_path = '/shift-inputs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'shift_input_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ShiftInput'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"ShiftInputsApi.create_shift_inputs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShiftInputsApi#create_shift_inputs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a shift input
    # @param id [String] ID of the resource to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_shift_inputs(id, opts = {})
      delete_shift_inputs_with_http_info(id, opts)
      nil
    end

    # Delete a shift input
    # @param id [String] ID of the resource to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_shift_inputs_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShiftInputsApi.delete_shift_inputs ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ShiftInputsApi.delete_shift_inputs"
      end
      # resource path
      local_var_path = '/shift-inputs/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"ShiftInputsApi.delete_shift_inputs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShiftInputsApi#delete_shift_inputs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a specific shift input
    # Retrieve a specific shift input
    # @param id [String] ID of the resource to return
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [GetShiftInputs200Response]
    def get_shift_inputs(id, opts = {})
      data, _status_code, _headers = get_shift_inputs_with_http_info(id, opts)
      data
    end

    # Retrieve a specific shift input
    # Retrieve a specific shift input
    # @param id [String] ID of the resource to return
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(GetShiftInputs200Response, Integer, Hash)>] GetShiftInputs200Response data, response status code and response headers
    def get_shift_inputs_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShiftInputsApi.get_shift_inputs ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ShiftInputsApi.get_shift_inputs"
      end
      # resource path
      local_var_path = '/shift-inputs/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetShiftInputs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"ShiftInputsApi.get_shift_inputs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShiftInputsApi#get_shift_inputs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List shift inputs
    # A List of shift inputs  - Requires: `API Tier 2`  - Filterable fields: `name`  - Expandable fields: `creator`  - Sortable fields: `id`, `created_at`, `updated_at`
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter 
    # @option opts [String] :expand 
    # @option opts [String] :order_by 
    # @return [ListShiftInputs200Response]
    def list_shift_inputs(opts = {})
      data, _status_code, _headers = list_shift_inputs_with_http_info(opts)
      data
    end

    # List shift inputs
    # A List of shift inputs  - Requires: &#x60;API Tier 2&#x60;  - Filterable fields: &#x60;name&#x60;  - Expandable fields: &#x60;creator&#x60;  - Sortable fields: &#x60;id&#x60;, &#x60;created_at&#x60;, &#x60;updated_at&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter 
    # @option opts [String] :expand 
    # @option opts [String] :order_by 
    # @return [Array<(ListShiftInputs200Response, Integer, Hash)>] ListShiftInputs200Response data, response status code and response headers
    def list_shift_inputs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShiftInputsApi.list_shift_inputs ...'
      end
      # resource path
      local_var_path = '/shift-inputs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?
      query_params[:'order_by'] = opts[:'order_by'] if !opts[:'order_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListShiftInputs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"ShiftInputsApi.list_shift_inputs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShiftInputsApi#list_shift_inputs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a shift input
    # Updated a specific shift input
    # @param id [String] ID of the resource to patch
    # @param [Hash] opts the optional parameters
    # @option opts [ShiftInputRequest] :shift_input_request 
    # @return [ShiftInput]
    def update_shift_inputs(id, opts = {})
      data, _status_code, _headers = update_shift_inputs_with_http_info(id, opts)
      data
    end

    # Update a shift input
    # Updated a specific shift input
    # @param id [String] ID of the resource to patch
    # @param [Hash] opts the optional parameters
    # @option opts [ShiftInputRequest] :shift_input_request 
    # @return [Array<(ShiftInput, Integer, Hash)>] ShiftInput data, response status code and response headers
    def update_shift_inputs_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShiftInputsApi.update_shift_inputs ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ShiftInputsApi.update_shift_inputs"
      end
      # resource path
      local_var_path = '/shift-inputs/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'shift_input_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ShiftInput'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"ShiftInputsApi.update_shift_inputs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShiftInputsApi#update_shift_inputs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
