=begin
#Rippling Platform API

#Documentation for the Rippling Platform API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module RipplingRb
  class TracksAndLevelsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve a specific level
    # Retrieve a specific level
    # @param id [String] ID of the resource to return
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [GetLevels200Response]
    def get_levels(id, opts = {})
      data, _status_code, _headers = get_levels_with_http_info(id, opts)
      data
    end

    # Retrieve a specific level
    # Retrieve a specific level
    # @param id [String] ID of the resource to return
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(GetLevels200Response, Integer, Hash)>] GetLevels200Response data, response status code and response headers
    def get_levels_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TracksAndLevelsApi.get_levels ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TracksAndLevelsApi.get_levels"
      end
      # resource path
      local_var_path = '/levels/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLevels200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"TracksAndLevelsApi.get_levels",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TracksAndLevelsApi#get_levels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a specific track
    # Retrieve a specific track
    # @param id [String] ID of the resource to return
    # @param [Hash] opts the optional parameters
    # @return [GetTracks200Response]
    def get_tracks(id, opts = {})
      data, _status_code, _headers = get_tracks_with_http_info(id, opts)
      data
    end

    # Retrieve a specific track
    # Retrieve a specific track
    # @param id [String] ID of the resource to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetTracks200Response, Integer, Hash)>] GetTracks200Response data, response status code and response headers
    def get_tracks_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TracksAndLevelsApi.get_tracks ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TracksAndLevelsApi.get_tracks"
      end
      # resource path
      local_var_path = '/tracks/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTracks200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"TracksAndLevelsApi.get_tracks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TracksAndLevelsApi#get_tracks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List levels
    # A List of levels  - Requires: `API Tier 2`  - Expandable fields: `parent`, `track`  - Sortable fields: `id`, `created_at`, `updated_at`
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @option opts [String] :order_by 
    # @return [ListLevels200Response]
    def list_levels(opts = {})
      data, _status_code, _headers = list_levels_with_http_info(opts)
      data
    end

    # List levels
    # A List of levels  - Requires: &#x60;API Tier 2&#x60;  - Expandable fields: &#x60;parent&#x60;, &#x60;track&#x60;  - Sortable fields: &#x60;id&#x60;, &#x60;created_at&#x60;, &#x60;updated_at&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @option opts [String] :order_by 
    # @return [Array<(ListLevels200Response, Integer, Hash)>] ListLevels200Response data, response status code and response headers
    def list_levels_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TracksAndLevelsApi.list_levels ...'
      end
      # resource path
      local_var_path = '/levels'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?
      query_params[:'order_by'] = opts[:'order_by'] if !opts[:'order_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListLevels200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"TracksAndLevelsApi.list_levels",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TracksAndLevelsApi#list_levels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List tracks
    # A List of tracks  - Requires: `API Tier 2`  - Sortable fields: `id`, `created_at`, `updated_at`
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order_by 
    # @return [ListTracks200Response]
    def list_tracks(opts = {})
      data, _status_code, _headers = list_tracks_with_http_info(opts)
      data
    end

    # List tracks
    # A List of tracks  - Requires: &#x60;API Tier 2&#x60;  - Sortable fields: &#x60;id&#x60;, &#x60;created_at&#x60;, &#x60;updated_at&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order_by 
    # @return [Array<(ListTracks200Response, Integer, Hash)>] ListTracks200Response data, response status code and response headers
    def list_tracks_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TracksAndLevelsApi.list_tracks ...'
      end
      # resource path
      local_var_path = '/tracks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'order_by'] = opts[:'order_by'] if !opts[:'order_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListTracks200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2Production', 'BearerTokenProduction']

      new_options = opts.merge(
        :operation => :"TracksAndLevelsApi.list_tracks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TracksAndLevelsApi#list_tracks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
